<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
<a class="text-decoration-none" href="#!">
  {{section}}
  <i class="bi bi-arrow-right"></i>
</a>
<h4 class="h4 fw-bolder">{{title}} </h4>
<h6 class="card-title">{{date}}</h6>
<img class="card-img-top" [src]="src" alt="Card image cap">
<h6 class="card-title">{{byline}}</h6>
<p class="card-text">{{abstract}}</p>
<a class="text-decoration-none" [href]="href">
 Continue reading...
  <i class="bi bi-arrow-right"></i>
</a>